.modal {
    position: relative;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.modal-close {
    position: absolute;
    right: 0;
    margin-right: 20px;
    color: #cb11ab;
    font-size: 72px;
    font-weight: bold;
    cursor: pointer;
}

.modal__content-title {
    font-size: 36px;
    text-align: center;
    color: white;
    padding-top: 33px;
    padding-bottom: 33px;
    margin: 0 auto;
}

.modal__content-text {
    font-size: 24px;
    color: white;
}
