:root {
    --content-width: 1300px;
    --mobile-padding: 15px;
    --gutter: 15px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}